In [1]:
import pandas as pd
import main

In [2]:
df = pd.DataFrame([
    ["bob", 17]
]*101)
df.columns = ["Name", "This Person's Age"]

In [3]:
a = main.DataFrame(df, num_rows=10)

In [4]:
a

DataFrame(children=(_Header(children=(_ButtonCell(layout=Layout(width='22%'), style=ButtonStyle(), _dom_classe…

In [7]:
df

    Name  This Person's Age
0    bob                 17
1    bob                 17
2    bob                 17
3    bob                 17
4    bob                 17
..   ...                ...
96   bob                 17
97   bob                 17
98   bob                 17
99   bob                 17
100  bob                 17

[101 rows x 2 columns]